<h1>All articles</h1>
<div id="article">
	<% @articles.each do |art| %>
<h3><%= art.title %></h3>
<p><%= art.text %></p>
<!-- <a href="/articles/<%= art.id %>">Read more</a> -->
<%= link_to 'Read more', article_path(art) %>
<hr>
<% end %>
</div>

